[Unit]
Description=Telegram Relay Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/tg-message-sender
ExecStart=/opt/tg-message-sender/venv/bin/gunicorn -b 0.0.0.0:7000 app:app --workers=4 --threads=4
Restart=always

[Install]
WantedBy=multi-user.target

#systemctl daemon-reload
#systemctl enable tg-message-sender
#systemctl restart tg-message-sender
